# Credentials — ne jamais committer
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
.claude
.cursor/


# Factures de test (XML générés dynamiquement)
*.xml

# Streamlit
.streamlit/secrets.toml

#BMAD
_bmad-output/
_bmad/

